/*Палитра основных цветов*/
.root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-black-color: #000000;
    --logo-white-color: #ffffff;
    --hero-footer-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;

}
body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
    font-size: 1.71;
}
/* Шапка сайта */
.list {
    list-style: none;  
}
.logo {
    color: var(--accent-color);
}
.logo>span {
        color: var(--logo-black-color);
    }

/*Навигация */
.site-nav .link {color: var(--title-text-color); text-decoration: none;}

.site-nav .link:hover,
.site-nav .link:focus {color: var(--accent-color);
}

/*Герой*/
.hero {background-color: var(--hero-footer-bg-color);
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;}
.hero-title { 
    color: var(--logo-white-color);
}

/*Секции*/

.section-title {color: var(--title-text-color);
}

/*Особенности*/
.feature-list .title {color: var(--title-text-color);
}

